[2016-12-29 02:10] neuromancer opened #1 "Linux support?"
I was wondering if Linux support is planned.

Thanks!

[2016-12-29 12:05] Quaker762 commented on #1
Hi,

Most certainly. I'm trying to write code as platform independent as possible (see stdtype.hpp, though it's very basic). If you know anything about Linux programming, please by all means make a Pull Request!!

[2016-12-29 17:49] elken commented on #1
I can maybe chip in in a week or so.

[2016-12-31 08:03] Quaker762 opened #11 "Problem with i686 version (c++ stdlib)"
For some reason, unless certain dlls are copied over to the application directory (_libgcc_s_sjlj.dll_, _libstdc++6.dll_ and _libwinpthread-1.dll_), the i686 version of sh3rd.exe will fail to launch, with the error:

_The application is unable to start: 0xc000007b_
![wot](https://cloud.githubusercontent.com/assets/4768900/21576650/b723f230-cf8b-11e6-93c8-38d4c07721b6.png)

From what I understand,

[2016-12-31 10:24] z33ky commented on #11
My quick research seems to indicate it's just that it can't find the proper library.

Apparently there's a `dumpbin` tool that you can [invoke to get a list of dependencies](http://stackoverflow.com/a/9619411), hopefully like `ldd` it also attempts a lookup.
If you don't have MSVS installed, there's also [this suggestion](http://stackoverflow.com/a/1993677).

[2017-01-01 09:25] z33ky opened #18 "Documentation extraction"
There seems to be a well defined inline-documentation format via code comments for files and functions.
I'm not familiar with it; is there a tool ala Doxygen to extract it?

I'd also like to question the "revision history" part of the documentation. It's easy to get out of date - instead one can use `git log $FILE` (maybe with `--oneline`) to get one and then one can also easily check the specific

[2017-01-01 11:27] Quaker762 commented on #18
At the moment I've been using a mixture between the old Microsoft NT4 comment style, as well as Dreamworks Interactives header/comment style (Trespasser is one of the most well documented pieces of software I've ever seen), so there is not application to extract it.

Seeing as this will probably get more serious, do you recommend we switch to a more standard comment style, or should I just write a

[2017-01-01 11:32] Quaker762 commented on #11
Okay I'll have to look into it. Windows seems to act strangely when targeting both i686 on a 64-bit system (probably due to kernel32 and SysWoW)

[2017-01-01 12:04] z33ky commented on #18
Doxygen is certainly widely used and I see little reason to take on the effort to write a competing piece of software. Doxygen also has a rather widely known style, which reduces friction for new contributors.
I'll convert one file to Doxygen-style comments later today so you can check it out.

[2017-01-01 14:41] z33ky commented on #18
Alright you can checkout [z33ky/sh3redux@doxygen](/z33ky/sh3redux/tree/doxygen).
The [Doxyfile](/z33ky/sh3redux/tree/doxygen/Doxyfile) is autogenerated by `doxygen -g` and merged with some old Doxyfile of another project of mine.
I've converted [include/SH3/arc/types.hpp](/z33ky/sh3redux/tree/doxygen/include/SH3/arc/types.hpp) partially do Doxygen; the classes are not fully documented.
To generate

[2017-01-02 23:45] thagabe commented on #1
Vulkannnnnn

[2017-01-03 08:36] Quaker762 opened #35 "enum LogLevel name conflict"
On g++6.2.0 I can't build due to [this](https://github.com/Palm-Studios/sh3redux/blob/master/include/SH3/system/log.hpp#L28) line.

It would seem somewhere, ERROR is already defined (I assume by the compiler?). Changing this to ERR fixes it.

[2017-01-03 08:58] z33ky commented on #35
Works on my g++ 6.2.1. What's the exact error-message you get?

[2017-01-03 09:05] Quaker762 commented on #35
I'm getting an `expected identifier before numeric constant error`

`In file included from E:/MinGW/x86_64-w64-mingw32/include/windows.h:71:0,
                 from E:/MinGW/x86_64-w64-mingw32/include/GL/gl.h:13,
                 from include/SH3/graphics/texture.hpp:23,
                 from E:\Users\Jesse\Documents\Palm Studios\sh3redux-fork\sh3redux\source\SH3\graphics\texture.cpp:12:
include/S

[2017-01-03 09:08] z33ky commented on #35
I see. Should get fixed by #38.

[2017-01-03 09:09] Quaker762 commented on #35
Bizarre, must be some weird Microsoft voodoo

[2017-01-03 09:09] #35 closed, assigned to z33ky

[2017-01-03 11:30] Quaker762 opened #43 "sh3_arc::LoadFile( ) seeming reads nothing"
Printing out the buffer in it's entirety with

`    for(int i = 0; i < 2048; i++)
     std::printf("0x%x ", buffer[i]);`

on Line 190-191 in types.cpp results in only 0s being printed.  This is the case when passing a vector reference to it in texture as well.

Also, how would I copy values from the read `std::vector` into a struct? Google isn't really giving me any answers.

[2017-01-03 12:25] z33ky commented on #43
Could be an off-by-one wrt the index. I do get a 0xffffffff if I use `(index - 1) * sizeof(fileEntry)` instead of `index * sizeof(fileEntry)` when seeking into the file in `sh3_arc::LoadFile`.

[2017-01-03 13:06] z33ky commented on #43
Completely missed that one. There should be an API like `sh3_arc_file` for this.

[2017-01-03 13:41] Quaker762 commented on #43
Okay, gotcha. So the caller can't just copy a section of the vector into struc? (sorry, I'm so used to C file handling/buffers haha)

[2017-01-03 13:45] z33ky commented on #43
It's possible, just `std::copy(begin(vector), end(vector), reinterpret_cast<char*>(&struct));`, but why go through the vector when you can load the data directly to the struct?

[2017-01-03 22:50] Quaker762 commented on #43
So we should write a few API calls (like the arc file stuff) that can read n bytes of data from the loaded file (which is in a vector you pass to LoadFile) into the struct, yeah? Excuse my ignorance haha.

[2017-01-03 23:58] z33ky commented on #43
I was thinking about dropping the `vector`. `sh3_arc_file::ReadString()` uses a `std::vector` internally because you cannot just copy bytes directly into a `std::string`. `std::string::data` does return `char*`, but it's undefined behaviour to modify that memory.
But if you look at `sh3_arc_file::ReadObject()`, you can see that eventually `gzread` will write directly to the struct's memory. I imag

[2017-01-04 07:21] Quaker762 commented on #43
Alright, sounds good. It'll probably make life a lot easier being able to read into multiple types.

[2017-01-04 13:07] z33ky commented on #18
Just as a heads-up: This is being worked on. Doxygen is used now. As soon as all headers are switched to Doxygen-style I'll commit a Doxyfile and integrate it into the CMake build system.

The next step then is to move the .cpp documentation to the headers and finally ensure that all relevant things are documented.
Doxygen can warn about undocumented stuff, but this cannot be fine tuned so we will

[2017-01-04 13:14] z33ky opened #46 "sub arc and arc section"
The documentation mentions that sub arcs (subarc and sub .arc as well) are synonymous with arc sections. There should be a single term used consistently.
I am slightly confused, but it seems that for the MFT, "section" refers to the stored information about the subarcs and the term "subarcs" refers to the actual files. In any case, I think this should be cleared up.

[2017-01-04 13:31] Quaker762 commented on #46
Sorry about that, I use them both interchangeably.

An arc section is anything that isn't arc.arc, i.e chrpl.arc.
If you look at an uncompressrd version of arc.arc, you'll see a list of files under a section, for example, chrpl. Inside these are Virtual File paths which are then converted into an index in the actual *.arc file. I refer to them as sub arcs because its sort of like a subdirectory, h

[2017-01-04 15:17] Quaker762 commented on #43
After doing some more testing, it seems this has been fixed. I am getting correct output from the read vector.

I've done a bit of research, and I think the vector may be a good idea to keep. Copying from a vector will definitely come in handy when allocating buffers, because we won't have to manually probe/write a function to query the file size (though this might be a good idea to have.)

[2017-01-04 15:37] z33ky commented on #43
Yeah, I've been thinking that this will probably load primarily dynamically-sized data. But many times there will be a fixed-sized header, so I'd imagine an interface usable as such:
[code]

Edit: This can then also be packed into a templated function, abstracting over `texture` via a `typename T`.

[2017-01-05 12:43] z33ky opened #53 "exit() and return from main()"
As pointed out in #50, calling `exit()` from `main()` does not run destructors.
This could result in unexpected behaviour. Same with `die()` and `assert()` if you think about it; any objects on the stack will not have their destructor called.

Files are flushed and closed by the runtime before exiting, so nothing will get lost there. If any logging is done in the destructors of objects, that will

[2017-01-05 12:47] z33ky commented on #53
I forgot, for `main()` we can also change from a `enum class` for `error_code` to a plain `enum`, though we'd loose the mandatory scoping. There are workarounds to make something that looks like a scoped `enum` though, with namespaces or inconstructible classes.

[2017-01-05 13:37] Quaker762 commented on #53
I like this as well. As good as having an `sh_main` function would be, that would probably just confuse anyone else looking to join, as they'd have to go 'function hunting'

I agree. For the most part though, die doesn't necessarily _need_ to run destructors for stack objects, as the shit has already hit the fan. As for the custom assert(), I feel later in development this will make debugging a LO

[2017-01-05 16:05] z33ky commented on #43
I've thought about this some more, and this is another approach I came up with:
[code]

`texture` would then just be a `resource<sh3_texture_header>`, which provides us access to the header by simply aliasing the bytes in `resource::raw` , as well as convenient access to the "body" (non-header bytes). Reading in the vector is then enough to load a resource from a file.

[2017-01-06 00:22] z33ky commented on #53
I'm working on it. I'll open a pull request after I got some sleep and cleaned it up.
This issue is done though.

[2017-01-06 00:22] #53 closed, assigned to nobody

[2017-01-06 01:15] Quaker762 commented on #43
The only issue I see with this is that some files will most likely need to be seeked. This will be fine for none batched textures, however, most models have the texture embedded, and Heather has about 14 costumes, one main header and then _n_ headers afterwards. After this, you must seek to the correct texture itself. The same goes for map files.

I've emailed you some code to help you understand

[2017-01-06 10:30] z33ky commented on #43
In this case we can specialize `resource<sh3_model_header>` to return `begin(raw) + sizeof(Header) + header().num_sub_headers * sizeof(SubHeader)` from `data()`.
And instead of `texture` just being a `resource<sh3_texture_header>` it's a class containing one and also a `sh3_subtexture_header*` pointing into a `resource<sh3_model_header>::raw`.
Sadly C++ is not Rust which could guarantee us that th

[2017-01-10 09:27] Quaker762 opened #59 "Use of ffmpeg"
SILENT HILL 3 has a few *.000 videos inside of /data/movie/.

I have code to convert these into `.mpg` (MPEG1) files, but it's a bit of chore to actually get these to play in SDL (get frame, convert to texture and draw). Should we use ffmpeg for this, as it already does all of the work decoding the output? There's a tutorial on doing this with SDL, but it involves .avi instead of .mpg, though I be

[2017-01-10 10:33] z33ky commented on #59
We should be able to sample the frames FFmpeg produces (see `sws_scale()`) and then just upload that data as an OpenGL texture.

[2017-01-10 11:50] Quaker762 commented on #59
Yeah this is what I was thinking. I'll give it a crack in a separate branch. Hopefully we can get a scene manager and two scenes (logos/video) up in the next week or two.

[2017-01-16 08:06] Quaker762 opened #66 "Bugs to fix"
We're nowhere even near the time fix these, but just for reference, [this list](http://pcgamingwiki.com/wiki/Silent_Hill_3) is what we should aim to fix when we're ready to actually implement game stuff.

EDIT: Mainly note the key points. A lot of the outfits were removed, however, the data is still contained within Heather's mesh.

[2017-01-16 08:07] Quaker762 commented on #18
It would seem that this has been taken care of.

[2017-01-16 08:07] #18 closed, assigned to nobody

[2017-01-16 08:07] #46 closed, assigned to nobody

[2017-01-18 01:42] Quaker762 opened #68 "types.cpp inaccurately loading file"
For some reason, this section of code

` for(sh3_arc_section& candidate : c_sections)
    {

        auto files = candidate.fileList.equal_range(filename);
        if(files.first == end(candidate.fileList))
        {
            continue; // No filename found in this section, continue over
        }
        else // We've found it
        {
            section = &candidate;
            // files.fir

[2017-01-18 01:49] Quaker762 commented on #68
I think this might have something to do with weird string null-terminators. I'm being told I can't open a handle to a section due to [this..](http://imgur.com/Wi8ogZg)

[2017-01-18 02:07] Quaker762 commented on #68
On further investigation it seems the following file types are affected:

*.ded
*.cam
*.kg1
*.kg2

From what I've seen, .mdl and .tex are fine, as well as (some) .map

[2017-01-18 02:20] Quaker762 commented on #68
So it would seem that loading everything from arc.arc is accurate (as seen in attached log.txt). Therefore this MUST have something to do with actually finding the file in the map, but I can't see anything wrong with the code for it..??

Also note that it complains of multiple files of the same name.
[log.txt](https://github.com/Palm-Studios/sh3redux/files/712872/log.txt)

[2017-01-18 03:03] Quaker762 commented on #68
More strange behaviour, attempting to print out keys and indexes results in [this](http://imgur.com/a/amhBQ) each step. I'm surprised it loads anything when I put a different file name in, this is super weird.

EDIT: Okay, I've done a bit more probing, and it seems like there's an error with `c_sections`. Stepping through after a call to section.Load() returns a map with the keys all the same.

ED

[2017-01-18 11:08] z33ky commented on #68
You're not iterating over the map here, since you don't increment `it`.
Try
[code]

While I'm also getting warnings about duplicates, at least the file "data/eff_tex/fire00_tr.pic" is correctly detected to be in section "tex" and "data/tmp/us11.map" to be in section "bgus". Which file are you trying to load that is mapped to the wrong section?
I'm looking further into the duplicate warnings ATM.

[2017-01-18 12:32] Quaker762 commented on #68
Lol, I just realised that when I opened the project again after a few drinks.. Alcohol goes in and code comes out I guess..

Most files. They end up dumping `_CATALOG.VIX` for some reason, I'm not sure. That or they fail to open at all and just silently fail (returning ARC_FILE_NOT_FOUND).

It would seem that `LoadFile()` isn't detecting files in the map correctly. I'm not too up to date with STL

[2017-01-18 13:15] z33ky commented on #68
#69 with the following patch does the right thing for me, i.e. first opens "tex.arc" and then "bgus.arc":
[code]

[2017-01-18 13:48] Quaker762 commented on #68
Those two files seem to work. Try opening `data/bg/hu/hu22.kg2` and check the output. It loads `_CATALOG.VIX` for some reason.

[2017-01-18 14:47] #68 closed, assigned to z33ky, Quaker762

[2017-01-22 06:41] Keith94 commented on #66
@Quaker762 Is it possible to restore the outfits in the standard PC version?

Could you also inform me about the advantages of this engine over the original engine?

[2017-01-24 00:06] Quaker762 commented on #66
I believe so, however on further inspection, it seems that the PS2 related costumes (i.e IGN.com, PS2PRO etc) have been completely removed from the game assets. It could be possible to rebuild the arc sections by ripping Heather from the PS2 version and inserting it, but I don't plan on writing code for that for a while.

In regards to how this will be better, theres a few thinfs I can think of of

[2017-01-24 01:09] Keith94 commented on #66
Looks promising, I'll keep an eye on this.

New engine also needs arbitrary frame rate support, because SH3 is designed for 60 FPS only: https://github.com/07151129/sh3proxy/issues/1

If there's any patch or instructions to restore outfits, please add it here or on pcgamingwiki.com. ;)

[2017-01-24 05:47] Quaker762 commented on #66
This is one of the problems that's on the high priority list.

Definitely. I'll need to find some more info about the PS2 disc format before that can happen haha.

[2017-01-24 10:47] z33ky opened #72 "Merging workflow"
Currently we use a merge-heavy workflow, which of course results in plenty merge commits. Many of those are fast forwardable, i.e. "unnecessary" merges.
Having merges even when fast forwardable commits are integrated preserves the branch structure. On the other hand, it litters the log with merge commits.
So to get to the point, I am wondering whether we want to continue with a merge-heavy workflo

[2017-01-24 12:11] Quaker762 commented on #72
I'll leave this decision up to you. I don't really know all that much about git/version control (unlike you), so make whatever decision is best (but make sure to give me instructions haha).

[2017-01-27 13:47] Quaker762 opened #74 "SDL vs glfw"
glfw looks a little bit friendlier and less bloated imho, I also like the idea of having callbacks instead of having to dispatch events ala SDL. Apart from this and a few other things, they're practically the same.

It apparently also deals with OpenGL in a slightly more cross platform way than SDL.

[2017-01-29 11:36] Sonderhen commented on #1
Quaker762 you have a e-mail contact? I need to talk to you.

[2017-01-29 20:11] z33ky commented on #74
I only tried freeglut and SDL for creating an OpenGL context. I don't remember why, but I ditched freeglut pretty fast.

SDL is certainly more "battle hardened" than glfw, but on a quick glance glfw seems like a decent choice as well. It certainly tackles less stuff and thus is a lighter dependency, although I would expect SDL is already installed on many gamer's computers anyway.

SDL covers many

[2017-01-29 20:30] z33ky commented on #72
There are a couple of issues with how git handles conflict resolution when rebasing, but I'm a bigger fan of the linear history. I'll get on it soon (today or tomorrow).

[2017-01-30 08:41] Quaker762 commented on #74
Very true, it probably is better to run SDL considering there is a lot more support for it, though we're probably only going to be using it for GL, events and Windowing (we need OpenAL for audio). I'm pretty sure Carmack himself used it for Quake 1, 2 and 3...

Might've just been some buzzwords on the GLFW site, apparently it looks to include some GL stuff for you, making it a lot easier to port s

[2017-01-30 20:50] z33ky commented on #74
SDL wasn't around when Quake 1 & 2 were released ;)
And the ioquake3 fork uses SDL, but I'm 99% sure the original does not.

Some (all?) versions of the Unreal Engine have support for SDL though. Close enough, eh?

I have an input manager. To give you an idea, I snipped out some code where I used it: https://gist.github.com/z33ky/ac5ea29aab2e41a1b7813574d511dbc5
I have a partially cleaned up commi

[2017-01-31 10:30] Quaker762 commented on #74
I must've misread this somewhere then haha, or perhaps I saw some port (perhaps toaruos, I think Kevin Lange uses the  SDL port)

Hahahaha definitely close enough.

Awesome, this will be immensely useful. I can't wait to write some actual game code ;)

[2017-02-02 10:18] z33ky opened #77 "TODO list"
For people interested in contributing we should have a list of TODO items.

We should have some more abstract, future goals so we know what we're working towards, as well as more concrete, easier to reach ones so people know what they can work on *now*.

We should open issues and assign ourself for things that we are currently working on and leave a note in the TODO list to check the issues first,

[2017-02-02 12:12] Quaker762 commented on #77
Yeah sure thing, that sounds good.

I'm probably best at working on some of the formats, as my game logic programming is pretty awful (my statemanager design I usually use is VERY unsafe haha). Would we put the TODO list in `Readme.MD`??

I'll create a WIP label now. I want to get these PR's I have open out of the way so I can clean up some of my branches as it's a bit chaotic at the moment.

EDIT

[2017-02-02 12:57] Quaker762 commented on #77
Oh, and in case you didn't know, there's a site for us I made [here](https://palm-studios.github.io/sh3-redux/) (home page is one up).

I've made it so every time or every other time I update my master repo folder, it automatically updates the documentation so it's current.

[2017-02-02 13:04] z33ky commented on #77
We should perhaps roughly describe the state of development, but otherwise I'd keep it a separate file. It's not uncommon to have a top-level file named `TODO` or the likes.

Neat. I'll check it out.

[2017-02-02 13:16] Quaker762 commented on #77
Sure thing, did you want to make the file? You seem much more competent at design and splitting things up than I am haha. If it was up to me it'd just be a mush of file types and systems.

[2017-02-02 13:28] z33ky commented on #77
Sure. I'll give it a go when I'm home (in a few hours..).

[2017-02-02 13:44] Quaker762 commented on #77
That reminds me, what timezone are you in? It'd be good to sync this stuff up a bit so we can have 110% efficiency haha. I'm in Melbourne Australia, so AEST.

[2017-02-02 14:19] z33ky commented on #77
I live in Germany, so CET, a.k.a. UTC+1 (unless it's summer and some... "people"... think it's awesome to use UTC+2 instead).

[2017-02-02 22:54] z33ky commented on #77
Actually it might be nicer to just refer to the issue tracker and make all TODO items an issue. This allows for easier discussion and people can subscribe to specific items.
Checkout https://github.com/z33ky/sh3redux/blob/todo/TODO for a list I made from the top of my head.

[2017-02-03 04:30] Quaker762 commented on #77
Yeah that sounds a little bit easier to follow. For now I'll put the TODO you've made on the Wiki.
P.S SILENT HILL has no overlay whatsoever, which makes our lives a LOT easier. The hardest thing to do imho will be the camera. Whoever programmed that at Konami is pretty good haha.

[2017-02-03 09:48] z33ky opened #80 "Input"
We should be able to get input at least from keyboard and mouse.
I think a stateful approach, basically maintaining a list of all pressed keys and buttons, is the best for our use case.

I'm working on a system based on SDL that also uses timestamps that can track for how long between frames a key was pressed; the time is normalized in the range [0, 1], so that it can just be multiplied for moveme

[2017-02-03 12:44] Quaker762 commented on #80
Sounds good. This should work really well for the inventory screen, which is where most of the input occurs (classic J-Horror resource management gameplay haha)

[2017-02-15 08:27] Quaker762 opened #84 "pic.arc weird texture headers"
So I was trying to load a few textures to try and bind onto a quad, when I noticed I was getting strange reads from `sh3_texture`. As it turns out, `pic.arc` contains a weird header (I've taken to calling '40-bytes of bullshit') before the actual header, as seen below..

![Bullshit](http://i.imgur.com/SeF6MBA.png)

It would seem not all textures have this, and the only way to check would be _to du

[2017-02-15 13:09] piratesephiroth commented on #84
some of the textures have this extra header but it appears to be random (there are files with the same size and color depth with and without the header).
The only way to be sure is to edit the arc with the same file after removing the header to see if the original game treats it differently.

[2017-02-15 22:07] Quaker762 commented on #84
@piratesephiroth

I just tried this by removing the header from data/pic/sy/sys_title.tex, which is the main menu's SILENT HILL 3 background. This was the result....

![wew...](http://i.imgur.com/HcAls0j.png)

It also caused all files stored after data/pic/sy/sys_title.tex to not draw, but I think is because of the difference in arc offsets. Still, this is really strange, I'll have to investigate

[2017-02-16 11:35] z33ky commented on #84
Even if I replace the whole header with ´FF´ it still works fine. Perhaps this header was used in another game on the same engine, or just for the PS2 version?
However if I modify the `arc.arc` to let `sys_title_tv.tex` (that is the title image for the demo) point to a file that does not have the additional header (I used `tpGB.tex`, section 7, index 7 in the demo) the game crashes for me. That wo

[2017-02-16 17:02] eblanca opened #85 "Random questions to the developers"
This is a very nice project, well done guys!
Q1: are you aware of any similar project working on Silent Hill 1/2 ? (I would die for...)
Q2: did you evaluate creating an engine for ResidualVM instead of a stand-alone project ? It is a nice multi-platform portable application (with a solid user base), so I can figure out it as a safe place to raise a new 3d game engine into.

[2017-02-17 01:59] Quaker762 commented on #84
Ahh, I neglected to think I was upsetting the offsets in arc.arc... You're right it still draws correctly.

I reckon it's this. You're probably right in saying it's something for the PS2 version. The dev team for the PC version was separate from the PS2 one, so they probably got a whole lot of assets dumped on them and told to make it work.

Yeah I just put this in. I'm redoing the texture class (

[2017-02-17 02:14] Quaker762 commented on #85
Hi,

No, but literally everyone that hears about this wants SH2 to be done. The engines are _very_ similar, however there are a few differences between formats. When this is done we can just fork sh3redux and maybe do sh2redux. SILENT HILL 1 I have no idea about though, there isn't as much of a modding scene as far as I can tell. (I'd definitely love to do SH2, it was the first one I played, I jus

[2017-02-17 07:57] eblanca commented on #85
Thank you.

[2017-02-17 07:57] #85 closed, assigned to nobody

[2017-02-17 12:34] Quaker762 opened #86 "Weird input into vfile"
I'm getting weird values in the color palette of `sys_konami.tex` (section `pic.arc`, directory offset `0xE10`, file offset `0x56C3E80`). For some reason it's adding a few values of `0x0D` in there? I'm not sure if this is due to the `vfile` buffer, or whether the problem lies in `sh3_arc::LoadFile`

[Here's the problem](http://imgur.com/a/OVZhn), I'm stumped as to why this is happening..

I can c

[2017-02-17 12:36] piratesephiroth commented on #84
As far as I remember the PC version uses the same exact files as the PS2 one (even the unused stuff is still there). They only added support for loading their raw BMPs and encrypted the videos.
I guess that extra header is what remains from a different implementation of the textures that's completely ignored and was kept just for compatibility (it's probably the same on the PS2 game as well).

[2017-02-17 13:34] z33ky commented on #86
Are you certain it's not `Dump2Disk()`? It looks like `out_file` should be opened in binary mode (`std::ios_base::binary`).
How are you dumping the palette?

[2017-02-18 05:45] Quaker762 commented on #86
It looks like that was what was causing the bytes to be inserted in both the palette and `Dump2Disk()`. What causes the `ofstream` to insert these bytes when it isn't opened as binary??

[2017-02-18 05:45] #86 closed, assigned to z33ky, Quaker762

[2017-02-18 07:06] z33ky commented on #86
Well, this is exactly what opening a file without the binary flag does. It converts the plain newline character to the system's newline, which on Windows includes a carriage return character.

On February 18, 2017 6:45:46 AM GMT+01:00, Jesse <notifications@github.com> wrote:

[2017-02-18 15:40] z33ky commented on #72
Hhheh.

So I created the branch `master-linear`.
Try rebasing the branches you need onto `master` first, so that they're up-to-date, and then on that `master-linear` branch.
If you got no problems there I'll rename `master` to `old-master` (which we can remove after a while) and `master-linear` to `master`.

[2017-02-19 01:39] Quaker762 commented on #72
How would I go about doing this? I'll probably screw my fork if I attempt this myself (I have literally no clue lol). Is this for stuff I'm currently working on??

Alright sure thing. Also could you update `Readme.MD` with a section on how to make changed?

[2017-02-19 03:23] Quaker762 commented on #84
I noticed this as well and thought it was hilarious seeing _work directories and test.tex files haha. It wouldn't surprise me if this was for some necessity for the PS2 version.

Do you know of a way I can view/rip the assets of the PS2 version from my disc?

[2017-02-19 14:17] z33ky commented on #72
First let's bring master up-to-date with `git checkout master && git pull upstream`. Then for each other branch, do `git rebase master`, fix the conflicts if you get any and finally `git rebase upstream/master-linear` (assuming you named the Palm-Studios remote `upstream`).
You can set your master branch to be master-linear via `git reset --hard upstream/master`.

You'll need to push with the `--f

[2017-02-20 04:54] Quaker762 commented on #72
Okay I've done this for each branch I have. Do I need to `git push` after the rebase??

Do I only need to do this for `master`??

Oh, so there's no difference in opening Pull Requests?? I don't quite understand how this works haha.

[2017-02-20 09:01] Quaker762 commented on #72
By the way, 8-bit textures are now _oficially_ working (the colours are still a tad weird, and the warning has a weird shift, but it works well). Now, it's just the `pic` format we need to tackle, and we basically have every image format done (a big step!). Perhaps now we should create a few milestones for us to work towards (and actually have you make some PRs hehe :P )

![konami_logo](https://4.

[2017-02-20 11:14] Quaker762 commented on #72
@z33ky I think I just fucked up... I pushed changes to a branch (`texture_new`) and it has seemingly added every commit ever to it...

[2017-02-20 21:57] z33ky commented on #72
Yeah, `git push --force-with-lease`.

Yeah.

Nope, this changes nothing for pull requests (except that we should select "rebase and merge", as we have done for a little while now, so that we don't need to to the master-linear thing again).

Yeah, writing my bachelors thesis seems to suck out the will to code much on my free time. Sorry.
I know that I get into it once I start to, but it's sooo much

[2017-02-21 01:52] piratesephiroth commented on #84
In the PS2 version the assets are packed in the mfa files. They're simpler than the arc files from the PC version.
I made a QuickBMS script years ago to unpack them, [here](http://forum.xentax.com/viewtopic.php?p=64417&sid=998d1587e6d1bbdb3c12c2e6898777b7#p64417)

[2017-02-21 04:20] Quaker762 commented on #72
Alright cool I'll keep that in mind. I'm going to have to read up on git over the next few weeks. I'll probably ask a few of my professors for some info as well haha

Hahaha no worries totally understandable. What is your thesis on?

Excellent pun haha. I'd like you to be in charge of the actual game framework if you don't mind. I'm good at writing the sub-modules but when it comes to putting it a

[2017-02-21 08:54] z33ky commented on #72
Hierarchical process/thread scheduling. You can find part of my work [here on Github](/z33ky/schedsi).
The code's messier than I'd like, but it's my first Python project that has more than a single file...

Edit: forgot link

I can try, but I have limited knowledge and next to no experience with game engines. I'll write down what I'd imagine in the Wiki when I have some ideas.

Das nice. I never u

[2017-02-21 16:20] z33ky commented on #72
Tagging @CSymes to update their repo as described in [#issuecomment-280921878](https://github.com/Palm-Studios/sh3redux/issues/72#issuecomment-280921878).

[2017-02-23 03:26] Quaker762 commented on #72
Excellent, that'll come in handy if we need some threading ahahaha. It looks super complex..

Don't worry we'll probably need to map it out together. I'm trying to figure out how we're going to load scenes and map doors to other scenes, perhaps a linked list/tree? We'll need to reverse the `cld` data file I suppose.

No clue, I'll have to look it up.

[2017-02-23 08:37] z33ky commented on #72
Well, this is scheduling, not threading itself. We'll probably just want to leave up scheduling to the operating system.

I'd just let each door store which scene it connects to.

[2017-02-26 05:09] Quaker762 commented on #84
Cheers I'll try it out later.

[2017-02-27 03:44] CSymes commented on #72
Rebased without (permanently) exploding anything, cheers @z33ky. Better actually do some stuff now though :P

[2017-02-27 10:50] z33ky commented on #72
master is changed.

[2017-02-27 10:50] #72 closed, assigned to nobody

[2017-04-13 12:10] belek666 commented on #84
Hi
Those 'encrypted' textures are actually swizzled. Here is some info about http://ps2linux.no-ip.info/playstation2-linux.com/download/ezswizzle/

[2017-04-13 20:57] z33ky commented on #84
Thanks @belek666. We still have a 16-pixel wide column on the left that we do not decode correctly with our implementation. Hopefully this information will shed some light on it.

[2017-04-14 03:28] Quaker762 commented on #84
Hi @belek666

Interesting, so it's not a form of quasi-encryption, but rather swizzled textures decoded on the GPU (on the PS2 version)?

The more and more we dig, the more and more we're seeing how much of a pure port of the PS2 version this actually is.

Thanks for the heads up, and as @z33ky said, this should help us with the horizontal 16-pixel shift we currently have with the decoding of the

[2017-04-14 09:39] belek666 commented on #84
They used it to speed up uploading textures to ps2 vram. There is source code of gs memory simulator in GSTextureConvert-1.1.zip which can be used to swizzle or unswizzle. I've used it to write converter for textures from silent hill 2 & 3 with those function:

[code]

[2017-04-19 15:18] belek666 commented on #84
Do you plan to use game's fonts? Their compression algorithm is the same as sh2 fonts. I can send you unpacker code adopted to sh3 file format.

[2017-04-19 23:03] Quaker762 commented on #84
Hi @belek666

Yes we do!! Any information/help you give would be greatly appreciated! Perhaps it would be easier for you to open a Pull Request (if you have time). If not, just send the files through, it'll be a great help! :)

As a side note, where exactly are the fonts located in?? I could never seem to find them in any of the .arc sections.

[2017-04-20 19:02] belek666 commented on #84
Fonts are in msg.arc in files:
- fontdata_c.bin, it has english and chinese characters
- fontdata_j.bin, it has english and japanese characters
- fontdata_k.bin, it has english and korean characters

In each file there are two set of fonts with different height. There is also some data at end but I don't know what it is. Character encoding correspond to text in msg files.

[fontsh3.zip](https://gi

[2017-04-21 04:23] Quaker762 commented on #84
Thanks very much for the contribution, I'll have a look at this later.

[2017-04-23 13:56] Quaker762 commented on #84
@belek666

So is each character/glyph stored as a texture that can be sent to the GPU (from the looks of the pixel is grabbed from the palette when the character is decoded).

[2017-04-23 14:24] belek666 commented on #84
Yes, I'm not sure if pallete is correct because I didn't find it in sh3 files and I took it from sh2. After decoding you get raw rgba32 data.

[2017-04-24 10:52] Quaker762 commented on #84
Okay cool, when I've got some time that is being consumed by uni I'll have a go implementing this + a shader to draw them.

Could I get your full name so I can add it to the file comment (the @ author tag)

[2017-04-25 15:05] Quaker762 commented on #84
@belek666

Hi,

I'm having a bit of trouble testing the code provided. If I'm correct, `font.cpp` dumps a single glyph into `font.dat`, yes? However, when I try and draw character 32 [here](http://rawpixels.net/) set to RGB32, ignore alpha off, I get some strange output (image below, I'm using `fontdata_j.bin` as the input file). I'm using the glyph width and height, so maybe that's the issue?

Co

[2017-04-26 11:41] belek666 commented on #84
So its ok now? As for credits, unpacking algorithm was given to me by Dencraft author of "Silent Hill Font Editor" (program for sh2 fonts, never finished). I adopted it to sh3 format. If you want you can credit me by nickname.

[2017-04-26 12:19] Quaker762 commented on #84
Done

I'm still having issues drawing the raw data. Is there any specific way it needs to be rendered? I can see that it at least has the same amount of colours that a single glyph would have, but it's still all garbage.

![wew](http://i.imgur.com/9STOPRL.png)

[2017-04-26 12:53] belek666 commented on #84
Function "DecodeChar" unpacks single glyph by specific char encoding number in argument. In my code, in main function there is "numChar" which define with char will be decoded. Its set too high and that why you are getting garbage data. 	For example: for "a" set "int numChar = 'a' - 0x20;"

[2017-05-01 01:43] Quaker762 commented on #84
@belek666

Hi, sorry for the late reply.

I'm still getting garbage, even with `int numchar = 'a' - 0x20`. Even stranger, when I use `fontdata_j.bin`, I get a segmentation violation (on Windows).

The following image was taken with `fontdata_k.bin` with `numchar` set to 'a' - 0x20 (char 65)

![wew](http://i.imgur.com/TM2bfuK.png)

The following was taken using `fontdata_j.bin` (ignore the backgrou

[2017-05-01 09:01] belek666 commented on #84
I'm using Windows 7 64bit. If you didn't change program code its probably broken fonts files. For "a" from fontdata_j.bin you should get:

![font](https://cloud.githubusercontent.com/assets/15877417/25576022/36cfd330-2e5c-11e7-800f-1d05d119d77e.png)

If you want I can check yours font files. What program did you use to extract files from msg.arc?

[2017-05-01 13:48] Quaker762 commented on #84
I'm using our own code found in SH3/arc/*.cpp... Paging @z33ky , we might have some issues in the arc loading section _again_....

Anyway, here's the font files and corresponding MD5 Checksum (for good measure) P.S Sorry for using a file sharing site, but apparently ZIPs aren't supported on GitHub, even though they are... *rollseyes*

http://s000.tinyupload.com/index.php?file_id=058352227361184770

[2017-05-01 14:28] belek666 commented on #84
You have something wrong with arc file management. It looks like it adds extra bytes, even size of file is bigger.

[2017-05-03 13:05] z33ky opened #91 "Arc extraction produces wong output"
The files fontdata_j.bin and fontdata_k.bin seem to be extracted incorrectly, as mentioned in #84:

Side-note: Sorry I've been quiet lately. My bachelor's thesis is due in a month and the days suddenly seem to pass quicker than usual...

[2017-05-04 12:16] Quaker762 commented on #91
I wonder what's causing this.. As far as we've been aware, there's been no problems with dumping textures or anything.. Maybe one of the sections is getting clobbered or it's a problem with my Dump2Disk() (with my janky C++ this is VERY likely haha)

No problem, whenever you have time. All my engineering subjects are sucking my time, and with five units I barely have time to even look at the code

[2017-05-08 15:56] Quaker762 opened #92 "CMakesLists.txt problems"
I've switched over to Lubuntu (I gave up on Arch _literally_ needing 24/7 care to work..) and I still have problems with cmake, though they aren't as bad as Arch.

1. cmake still complains about glm not being found, however the error now gives is `file or directory //include referenced by variable GLM_INCLUDE_DIRS does not exist !`, which can be fixed by directly editing and removing a `/` from th

[2017-05-08 20:20] z33ky commented on #92
These sound like issues with (L)Ubuntu. The `CMakeLists.txt` does not specify `-lOpenGL` or `-lZLIB`, but uses the CMake configuration files from the system.
I find this a dubious claim to make considering Ubuntu is one of the most popular distros and neither of these libraries are obscure. Are you certain your system is fully up-to-date and you didn't perhaps try this mid-update (or the system sh

[2017-05-09 06:05] Quaker762 commented on #92
This is what was I thought was _really_ strange. if I change `PRIVATE OpenGL` and `PRIVATE ZLIB` in `source/CMakeLists.txt` it will link properly (not sure how if this actually meant to affect anything???). It definitely does seem like a (L)Ubuntu problem.

Yeah, it's a fresh install of 16.04, though 17.04 is out now, so I might download and give that a crack. It is strange that this seems to happ

[2017-06-18 13:36] z33ky opened #95 "Generic resource loading"
To load resources like textures and models from the ARC files, a templated `resource` class was proposed:
[code]
A `texture` would then be a `resource<sh3_texture_header>`, which provides us access to the header by simply aliasing the bytes in `resource::raw `, as well as convenient access to the "body" (non-header bytes). Reading in the vector is then enough to load a resource from a file.

Some

[2017-06-18 13:37] z33ky commented on #43
I've opened #95 for the generic resource loading. I think this issue can be closed then.

[2017-06-18 13:42] z33ky commented on #1
I believe this is taken care of.
@Quaker762 close?

[2017-06-18 13:56] Quaker762 commented on #1
@z33ky Yep, I think this has been _thoroughly_ taken care of by now :)

[2017-06-18 13:56] #1 closed, assigned to nobody

[2017-06-18 13:58] #43 closed, assigned to nobody

[2017-06-18 14:02] Quaker762 commented on #95
This is in place of `vfile` yes? So instead of having a buffer that we seek and read data from (similar to how an actual `FILE` works), we just have a `resource` with appropriate header passed in that we can more easily read bytes from the header (without a local copy in a `Load( )` function). Is there any advantage to this besides the added abstraction of the header types? If this is in place of

[2017-06-18 14:14] z33ky commented on #95
A `vfile` provides access to a file in the MFT as bytes, while this would interpret the bytes as a resource.
So it doesn't necessarily make `vfile` obsolete (at least in the short term), but would definitely be used in place of it.

Since the `resource` includes a local buffer (`raw`), just like the `vfile`, I don't see why it would conflict with the workings of the MFT.

[2017-06-18 14:23] Quaker762 commented on #95
Okay, I think I see now. It's basically a better way to abstract the resource type and also saves a heap of code reuse (such as having heaps of calls to `file.ReadData(...)`) as the data is already there for us to access.

Also, I assume `data_offset()` would work with the convoluted model format (IIRC there's a header for each primitive/polygon) where we have to iterate over _n_ primitives? If so

[2017-06-18 14:30] z33ky commented on #95
Exactly.

`data_offset()` can use all fields in the header to calculate the appropriate offset, e.g. `num_sub_headers` in the second example. If more information is required, we'll need to think if we can perhaps pass this to `data_offset()` from the `resource` via parameter.

This is only a concept so far. I have not started the implementation, this issue represents only the idea.

[2017-06-18 14:41] Quaker762 commented on #95
Excellent, this sounds like this could work really well. Hopefully you can find a workaround for some of the weird formats (i.e models). You should be able to see what I mean by looking at Mike's code I sent you.

[2017-06-29 07:09] Quaker762 commented on #91
This has now been fixed by #96 Dump2Disk was _not_ opening the file in `std::ios::binary` mode.

[2017-06-29 07:09] #91 closed, assigned to z33ky

[2017-06-29 07:25] Quaker762 commented on #84
@belek666

I got it fixed. It's now fully implemented in the engine! :) Turns out the code to actually dump the file to the disk was faulty.
![font_test](https://user-images.githubusercontent.com/4768900/27676090-fb5af2fe-5cef-11e7-9d01-041f9292ca0b.png)

[2017-06-29 13:27] belek666 commented on #84
@Quaker762 Nice work! 👍

[2017-07-20 11:52] #92 closed, assigned to z33ky, Quaker762

[2017-08-24 12:41] z33ky opened #111 "Useless warnings from gcc -Weffc++"
We get some annoying warnings from `-Weffc++` about initializing members via the member initialization list, even though their default constructor is perfectly fine. See [GCC Bug 81431](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81431) for an upstream bug report, the referenced [GCC Bug 16166](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=16166) is also relevant.
We should try to replace this war

[2017-08-27 05:01] Quaker762 commented on #111
Okay, so I should update the Code::Blocks project with it disabled?? I'll see what other warnings I can access.

[2017-08-29 13:57] z33ky commented on #111
Right now we're getting warning-spammed anyways, so for the time being I don't think it does actual damage.
I believe most warnings are reasonably fixable in code. The member-initialization warnings of `-Weffc++` look 100% spurious though, but there are other warnings enabled with that same flag that are useful.

Like the OP states, I'm proposing we look how to best *replace* this flag with some o

[2017-09-01 03:03] Quaker762 commented on #111
Alright then, that makes a lot more sense, it is rather annoying have five gazillion warnings spat out by the compiler.

Also, I'm thinking of moving constructors to the source files instead so it's a bit cleaner, but I'll open another issue for this.

[2017-09-01 03:08] Quaker762 opened #112 "Provide default constructors and move constructors to source (*.cpp) files."
Because some OGL objects _need_ a context before they are initialised, I think it's best if we provide a default constructor so functions such as `Load( )` (for example, a shader program) can be called later instead of being automatically called by the constructor.

This also makes a bit more sense, as the we can specify something like

`sh3::gl::program test;test.Load("program");`

instead of hav

[2018-01-13 13:39] z33ky opened #120 "overly careful numeric casts"
I introduced a couple of compile-time and run-time range checks that make sure that numeric casts work as expected.
While it's certainly useful to have these for debug builds, they are only really needed to verify input, i.e. making sure data-offsets specified in file headers are in range. And there they shouldn't just be `ASSERT`s IMO, but regular checks done in any build.
For debug-builds we cou

[2018-01-19 00:46] Quaker762 commented on #120
Sounds good to me, it'll probably help us find and debug any weird arc issues (if we encounter any more of them, considering we've hit a few I imagine there could be more).

Did you want to get started on this? I imagine you have more of an idea of what to do than me.

[2018-01-23 18:26] z33ky opened #121 "Consider libfmt for Log"
Consider using [fmt](https://github.com/fmtlib/fmt) for `Log()`.

[2018-01-23 18:28] #80 closed, assigned to z33ky

[2018-01-24 10:08] Quaker762 commented on #121
hmm looks really good. What sort of improvements would this have over what we've currently got though? For the most part, `Log()` does what we need it to (print to `stderr` and  `Log.txt`). Some kind of safety? (from what I can read)

[2018-01-24 10:46] z33ky commented on #121
"Support for user-defined types" is the major motivator for me. Being able to just `Log(LogLevel::WARN, "{} does not align with {}\n", vecA, vecB)` instead of `Log(LogLevel::WARN, "%f %f %f does not align with %f %f %f\n", vecA.x, vecA.y, vecA.z, vecB.x, vecB.y, vecB.z)` is a big improvement. Of course we could also use macros to trim it down some:
[code]

Neither works well if we want to customiz

[2018-01-24 10:53] z33ky commented on #121
Err okay, that last thing is already possible in fmt: http://fmtlib.net/latest/api.html#formatting-user-defined-types

Edit: link correct section

[2018-01-30 15:54] z33ky commented on #120
The undefined behavior sanitizer warns on overflow in operations, but "overflow" when casting is something different and not handled by the sanitizer: https://bugs.llvm.org/show_bug.cgi?id=21530
We can use [Boost.NumericConversion](http://www.boost.org/doc/libs/1_50_0/libs/numeric/conversion/doc/html/index.html) for that though. Our compiler warnings already tell us about implicit casts, but we wi

[2018-02-14 13:00] Quaker762 opened #127 "Create bugs folder to outline found compiler bugs"
This is more for my own sanity and the sanity of others. I've hit 3-4 bugs in GCC (though I've only outlined 2) that people may encounter.

@z33ky You can see what I mean here: https://github.com/Quaker762/sh3redux/tree/bugs/bugs

[2018-02-14 13:08] z33ky commented on #127
Regarding `__attribute__((packed))`, have you tried `-mno-ms-bitfields`?
I think the template-namespace bug is https://gcc.gnu.org/bugzilla/show_bug.cgi?id=56480, correct? Please link to the upstream issue.

[2018-02-15 14:26] Quaker762 commented on #127
Ahh, I forgot about that switch. That seems to fix it on Windows. There are some reports however that it's still a bug in GCC, so it might vary per flavour of Linux?? This is kind of an odd one (see here: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=54589; I've added this link to the top of the `.cpp` file)

Yep, added it :)

[2018-02-15 16:59] z33ky commented on #127
Did you link the right bug? That one seems to just be a missed optimization opportunity which only activates if the struct has a certain layout - and there's no mention of `#pragma pack`.

[2018-02-19 15:02] Quaker762 commented on #127
Whoops, must've linked the wrong one. I'll get on that ASAP.

[2018-02-19 15:03] Quaker762 commented on #121
Did you still want to use this? I just had another look and it'll definitely make our lives a whole lot easier.

I'll leave it up to you though, it'll be a disaster if I do it hahaha.

[2018-02-20 11:32] Quaker762 opened #131 "Reverse Engineering file formats"
Going to open this here so everyone can see. So far, the file formats that we have reversed are as follows:

`.anm` (partial) [ANiMation]
`.tex` [TEXture]
`.tbn2` [Exported from KONAMI's SOFTIMAGE/PhotoShop `.pic` plugin]
`.mdl` [MoDeL]
`.map` [MAP]
`.cld` (partial) [CoLlision Data]

The file formats that we currently do _not_ have reversed (or any idea how they are used) are:

`.ded` Dynamic Effe

[2018-02-21 11:36] z33ky commented on #121
Yes, I still believe this is a good option for us.

[2018-02-21 11:43] z33ky commented on #111
I still get spurious `-Weffc++` warnings; I don't think this is "Done".

[2018-04-02 21:10] Bigmanjapan commented on #131
"motion capture data for cutscenes" for SH2 cutscenes is contained within .dds files. I was able to change characters positions in the cutscenes by editing the files.

.cam files store locations' camera angles and are quie easy to manipulate once you play around with SH2 E3 Trial Verison's debug menu and understand the logic behind location cameras.

https://www.youtube.com/watch?v=-4zfPwGOhAk

[2018-04-02 22:06] ghost opened #134 "CMake include_directories Error"
I think I have all dependencies satisfied.
Here is the output:

$ cmake .
-- The CXX compiler identification is GNU 7.3.1
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- Performing Test HA

[2018-04-03 02:32] Quaker762 commented on #134
Paging doctor @z33ky

What version of Linux are you using? `CMake Error at source/CMakeLists.txt:16 (include_directories):` points to an issue with your install of `SDL2` (as in it can't find the include directories for it). Maybe try running a reinstall of it with whatever package manager you use.

[2018-04-03 02:46] ghost commented on #134
I use Arch Linux. I tried reinstalling sdl2 but no success, its version is 2.0.8-5. Do I have to install some additional packages/libraries of sdl2?

[2018-04-03 06:29] Quaker762 commented on #134
@brokenechored I just checked on my Arch machine, I get the exact same error. Someone must have pushed something bad to one of the `pacman` packages... The `source/CMakeLists.txt` hasn't been touched since October last year.

@z33ky Someone's fucked something up _big time_

I'll post something on the Arch reddit page.

EDIT: I've also posted it to the arch forums here: https://bbs.archlinux.org/vi

[2018-04-03 12:25] z33ky commented on #134
_sigh_ Yes, it seems the SDL2 CMake config broke backwards compatibility. We should probably copy the CMake files of our dependencies into our repository, but I have not been able to find out what the usually policy on this is since I'd normally trust the distribution more than whatever a repository has.

Newer CMake has this convenient feature where you just link against a target and includes and

[2018-04-03 22:43] ghost commented on #134
@z33ky Can't apply:

$ patch < CMakeLists.patch
patching file CMakeLists.txt
Hunk #1 FAILED at 7.
1 out of 1 hunk FAILED -- saving rejects to file CMakeLists.txt.rej
patching file CMakeLists.txt
Hunk #1 FAILED at 7.
1 out of 1 hunk FAILED -- saving rejects to file CMakeLists.txt.rej

Am I doing this wrong?

[2018-04-04 06:50] z33ky commented on #134
Use `git apply`.
Or `patch -p1` (from the top of my head, might be wrong) to strip the `a/` and `b/` from the paths in the patch file.

[2018-04-04 06:57] Quaker762 commented on #131
So model location data is stored in `.dds` files and the actual animation for the cutscene in `.anm` files? Could you possibly upload an example video of a modified .dds file?

Any idea where this would be stored for SH3? From playing around I can't really change any of the cutscene stuff.

Ahhh, I see. Is it just angle data, or is it data for the bounding boxes/clipping planes for the camera too?

[2018-04-04 17:08] ghost commented on #134
@z33ky I've managed to apply it with `$ git apply --reject --whitespace=fix CMakeLists.patch` because everything else was failing.
[code]
It passes configuring but I get build errors now.
[code]

[2018-04-04 17:30] z33ky commented on #134
Perhaps a missing '\n' at the end of the file?

Ah, also add `get_target_property(SDL2_LIBRARIES SDL2::SDL2 IMPORTED_LOCATION_NOCONFIG)`.

[2018-04-04 18:03] ghost commented on #134
@z33ky I'm sorry, I barely know anything about patching. That's the first time I had to do something like this. Could you please show me how the file would look like with this?
```Ah, also add get_target_property(SDL2_LIBRARIES SDL2::SDL2 IMPORTED_LOCATION_NOCONFIG).```

[2018-04-04 21:03] z33ky commented on #134
Yeah sure.
Just for clarification, in UNIX/Linux text-files usually always end with a '\n'. `patch` and `git apply` seem to choke on patches where this is not the case. Some editors automatically add the trailing new-line and don't even necessarily show it (at least Vim does, which I use).

Anyway, put the `get_target_property(SDL2_LIBRARIES SDL2::SDL2 IMPORTED_LOCATION_NOCONFIG)` just after `set(

[2018-04-04 21:42] ghost commented on #134
@z33ky thank you. This worked and the project builds. But the executables don't launch properly.
This is the line that is constatly being written to log:
```[fatal] API (ERROR): GL_INVALID_OPERATION in glUseProgram(program 1 not linked)```

[log.txt](https://github.com/Palm-Studios/sh3redux/files/1877796/log.txt)

[2018-04-04 22:00] z33ky commented on #134
Launch from the top-level folder, or link (`ln -s ../data .`) or copy (`cp -r ../data .`) the data-directory to the build directory. I'd make sense to document this...
I just noticed that @Quaker762 modified the shaders when adding the Camera, so currently only the `cam` binary will render something visible.

[2018-04-04 22:10] ghost commented on #134
I got it, thanks. ```cam``` runs with no issue. I guess we can close this thread.

[2018-04-04 22:10] #134 closed, assigned to z33ky, Quaker762

[2018-04-05 00:25] Quaker762 commented on #134
Whoops.... I really need to change that some time soon, though both binaries are basically the same thing.

@brokenechored If you're interested in helping with the RE efforts, there's an `sh3tools` branch on my fork that hasn't been merged you should be able to build that'll give you information about any file you give it.

Also if you're interested, I have the source for the silent hill level vie

[2018-04-05 00:51] ghost commented on #134
@Quaker762 I've actually looked at ```sh3tools``` before at ```https://github.com/Palm-Studios/sh3tools``` but I was confused because there is no makefile.
Level viewer would be nice to have, @Bigmanjapan would be also interested I think.
Also I wanna say that I'm really bad at all of this. I started learning about building very recently and don't know much about features of git.

[2018-04-05 09:12] Quaker762 commented on #134
I need to delete that repo, it's the original project that's no longer maintained.

That's no problem. As long as you know basic C/C++ and math it's all good, I still don't know a lot about git myself. If you want to contribute, you first need to fork this project into your account, pull that copy to your computer and then work on a feature after doing a `git branch` (which creates a branch for yo

[2018-04-05 13:07] ghost commented on #134
@Quaker762 thanks a lot! I'll look into that.

[2018-04-05 21:45] Bigmanjapan commented on #131
Sorry, I made a mistake in my previous post. .dds files contain data about camera position in ingame cutscenes.

Let's take a simple game engine cutscene with one static camera angle in which James opens a can of lightbulbs. By modyfing kanzume.dds I lowered vertical position of the static camera angle in that scene: https://youtu.be/r3rCN6PTwyk

No idea on how SH3 stores game engine cutscenes dat

[2018-04-06 19:45] Bigmanjapan commented on #131
A user named Jokie managed to reactivate SH3 PC debug logging function: https://cdn.discordapp.com/attachments/138060014316290048/431901317867503618/unknown.png

Could it help you in reversing formats? If you are interested in this, you can find him in Silent Hill Speedrun Discord server: https://discord.gg/TkMQj8G

[2018-04-07 09:39] belek666 commented on #131
Nulling *.kg files in sh3 pc data removes shadows. I've replaced kg file from one weapon to another and shadow pattern changed to that weapon.

[2018-04-09 07:30] Quaker762 commented on #131
Sorry for the late reply, uni's been kicking my arse this week.

Ahhhh I see, that makes a lot more sense now. It would seem SH2 had more file separation than SH3, as there are no `.dds` files to be found. There _are_ .cam, but I'm yet to find one that changes cutscenes. Perhaps I'm editing the wrong ones? So far it's all just memory editing, as I'm yet to work on a tool to repack `.arc` sections

[2018-04-09 13:08] Quaker762 commented on #131
Okay, so according to the debug info, the only file loaded during the intro cutscene, as well as the Happy Burger scene is `chhaa_basic1_none.anm`. That must contain heather cutscene data, though from the looks of it, it could just be idle animations... Perhaps the animation data is actually _inside_ the executable.. Hopefully it isn't..

[2018-07-20 09:33] spacecowboy0x1 opened #135 "file format about silent hill2"
Hello everyone, I want to develop a tool to reverse *.tex texture about silent hill2 (pc version).
I have campared texture.hpp from sh3redux and tex file in hex value, but I confused, it seems different.
Could you give me some advise?

[2018-07-21 13:06] z33ky commented on #135
Yeah, Silent Hill 2 uses a different header.
I myself am not well versed in reverse engineering, I've just built on code that was already present from someone else. Maybe @Quaker762 can tell you more.

[2018-07-23 01:50] spacecowboy0x1 commented on #135
@Quaker762
Hello Jesse, could you give me some advise?

[2018-07-24 13:49] Quaker762 commented on #135
Hi lads,

@captswing sorry for the late reply mate, I've just started back at uni so I haven't had too much free time.
As @z33ky said, the SH2 textures are slightly different, though only the headers should be iirc, the data and what not should be the same. What exactly are you trying to achieve? Do you want to reverse the textures, display them etc.

If you're trying to reverse them, the best thi

[2018-12-01 04:26] Polymega commented on #131
Hi @Quaker762 ,

Can you tell me a little bit more about the `.tbn2` file format? In regards to SH2 PC, whenever I edit one of these texture files the game itself does not reflect these changes. So I was thinking maybe these textures (for SH2 PC, anyways) are also stored somewhere in the main binary itself and it's pulling them from there?

But the thing is: If you remove the external `.tbn2` file

[2019-01-03 23:07] mrhatkat opened #136 "Problems with building( Cmake and Sdl2)"
Hi everyone,
I've been having problems with building the game engine. I tried following the steps on the wiki and the README but couldn't find the proper files like build.bat. I was able to get everything but sdl2 to work in cmake by adding the locations of the config.cmake for every library,but for some reason I can't get this approach to work for sdl2. I am on a windows machine running Windows 1

[2019-01-04 01:18] Quaker762 commented on #136
Hi,

The README and wiki are _horribly_ out of date, as I haven't worked on this in a while (though I have recently restarted to project in a modular form, called _OpenHill_ that'll support both SH2 and SH3. The Engine's a shared library that can be used by either game for more common stuff like lighting, but I digress). It's currently a private repository, but I can make it public if you'd like t

[2019-01-04 01:21] Quaker762 commented on #131
Hi @Polymega

Sorry for such a late reply, I didn't see the notification or get an email for this... Strange...

Anyways, I'm not 100% sure about `.tbn2` files. From what I remember they were textures, perhaps animated, but I've forgotten completely as it's been a while since I've had anything to do with Silent Hill. I also had an IDA instance of SH3 where I did most of my reversing, but I've sinc

[2019-01-04 02:13] mrhatkat commented on #136
OpenHill sounds like an interesting project. I'd love to take a look at it and see if I can help out. I'm also going to try looking at #132. Thanks for the help!

[2019-01-06 02:00] mrhatkat commented on #136
Still no luck. I tried making the build.bat file from issue #132 and the sdl.cmake file,but I still ran into problems:

**CMake Error at platform/win32/cmake/FindSDL2.cmake:188 (include):
  include could not find load file:**

C:/Users/Austin/Desktop/sh3/sh3redux/platform/win32/cmake/FindPackageHandleStandardArgs.cmake
Call Stack (most recent call first):
  tests/CMakeLists.txt:7 (find_package)

*

[2019-01-06 15:01] z33ky commented on #136
Do you use a package-manager like MinGW or Cygwin, did you download pre-build libraries or did you compile the libraries yourself from source?
And if one of the latter, do you use Visual Studio?

[2019-01-06 15:13] mrhatkat commented on #136
I tried just downloading the libraries manually, building them using cmake, and then manually linking the include directories and libraries using the cmake GUI. Would you recommend using Cygwin or MinGW? Also after messing around with the cmakelists, I was able to get a visual studio solution as output from cmake,but I was unable to build the solution.

[2019-01-06 15:30] z33ky commented on #136
Same as @Quaker762, I use Linux. I just wanted to get a clearer picture of your setup.
MinGW and Cygwin impose a more Linux-like environment, which would probably make it easier, but ideally we should try and fix up our build-scripts.

In theory, after building the libraries you should just be able to set the directories/files for each library in cmake-gui and you should be good to go. Like with t

[2019-01-06 16:09] mrhatkat commented on #136
All I did was comment out a few lines of code in the tests/cmakelists.txt:
`#include_directories(SYSTEM "${OPENGL_INCLUDE_DIR}")
 #include_directories(SYSTEM "${SDL2_INCLUDE_DIRS}")`

and source/cmakelists.txt:
`#include_directories(SYSTEM "${OPENGL_INCLUDE_DIR}")
include_directories(SYSTEM "${SDL2_INCLUDE_DIR}")`
I also changed DIRS to DIR in these two lines. I'm starting to think that might have

[2019-01-06 16:28] z33ky commented on #136
Yeah, the directives you've commented out are needed.
You don't need to do anything special to install the libraries, you just need to know where to find the DLL/so-files and where to find the header files.
When you run the CMakeLists.txt with cmake-gui and click on "Configure" you should get a list of variables. Where CMake is unable to find stuff in their standard paths, you can just insert the

[2019-01-06 16:38] z33ky commented on #136
Also try replacing `"${SDL2_LIBRARIES}"` in the CMakeLists.txt with `SDL2` and remove the lines saying `include_directories(SYSTEM "${SDL2_INCLUDE_DIR}")`. It seems like SDL2 only supports imported targets, which don't define those variables anymore.

[2019-01-06 17:17] mrhatkat commented on #136
That makes it so that I can get through Cmake, but I'm still having 145 errors in the visual studio solution.

[2019-01-06 21:18] z33ky commented on #136
Are they related to SDL2? It might need `SDL2::SDL2` instead.
Otherwise paste the errors on a Github Gist or something, they may be incompatibilities between compilers.

[2019-01-06 21:41] mrhatkat commented on #136
Sdl2 seems fine, the problem seems to be with zlib using unistd.h which doesn't exist on windows, and API Entry is undefined which I think is an OpenGL problem.

[2019-01-06 21:56] z33ky commented on #136
Try replacing `if(CYGWIN)` in the top-level CMakeLists.txt, line 117 by `if(CYGWIN OR MSVC)`. That should fix your `APIENTRY` issue.
For zlib/unistd.h, an Internet search suggests that this is due to an incorrectly generated `zconf.h` within the zlib build. Did you also build zlib via Visual Studio?

**EDIT:**
You can try applying these changes to your zconf.h: http://trac.wxwidgets.org/attachment

[2019-01-06 22:21] mrhatkat commented on #136
I used something called "GNUWin32" which I read was a zlib library for Windows,but that might be causing the problems.

[2019-01-06 22:32] z33ky commented on #136
Yeah, that likely used something like MinGW, which provides a unistd.h.
Try finding a version of it built with MSVC - or build it yourself. Note that all the libraries you downloaded must be built with MSVC, possibly even with the same version, I'm not sure.

As I said before, using something like MinGW or Cygwin (I think the former is more popular) is probably easier, but still I appreciate you t

[2019-01-06 22:35] mrhatkat commented on #136
Yeah, part of me actually finds this fun. I'm going to try doing it from scratch one more time, and then I'll try switching to MinGW or Cygwin. Thanks for all the help.

[2019-01-06 22:37] z33ky commented on #136
Note that zlib provides MSVC-project files in contrib/vstudio.

[2019-01-07 00:38] mrhatkat commented on #136
Do you know how to use OpenGL through Cygwin? There's a package for everything else but that.

[2019-01-07 02:24] Quaker762 commented on #136
@mrhatkat If I remember correctly, the OpenGL lib should be part of Windows? You should be able to link with `-lGL` or `-lOpenGL32` or something similar. I wasn't using Cygwin when I was on Windows, as I think it's horrible. I mostly just use `cmd` and `Powershell`, with msys (if a _desperately_ need some kind of unix interface) and mingw, as using such made porting to Linux much easier, as we wou

[2019-01-07 05:51] Quaker762 opened #137 "Include required libraries in repository"
Considering the issue that has been raised in #136, I propose that we control what version of the libraries we have by either including them as submodules, or the source code themselves, similar to which can be found in this project: https://github.com/xoreos/xoreos.

We could then have targeted build scripts (similar to `build.bat` or `build.sh`) that would build the required libraries and put th

[2019-01-07 05:55] Quaker762 opened #138 "Switch from `cmake` to `premake5`"
This one's probably just more of a personal preference, but I'd like to garner some opinion of others. I've done a bit of experimenting with `premake5`, which is similar to `cmake`, however a lot less complex. The scripts are basic `.lua` scripts, that look similar to the one attached. One neat feature is the ease of specifying build targets, as well as allowing recursive file finding (e.g `files

[2019-01-07 09:20] z33ky commented on #136
Iirc Cygwin requires a X11 server for graphical applications, so if you can install xorg-server or something similar, that might come with the OpenGL library.

[2019-01-07 09:56] z33ky commented on #138
I've chosen CMake because afaik it either has support or is supported by the most IDEs. It's not necessarily as good as a "true native" project file, but probably better than no integration at all.
I've worked on projects before where there were just 5 or something project files that needed to be kept in sync, so I accepted the horribleness that is CMake to at least just have a singular place.
I h

[2019-01-07 10:04] z33ky commented on #137
We can add this as a build-option toggle. I don't see why we should write system-specific scripts for this.

Generally I like allowing a diverse setup. Especially allowing and at least half-heartedly supporting using system-installed libraries; I always find it annoying when projects begin by fetching some libraries and compiling their own version, although it seems to be the popular thing (see Ru

[2019-01-07 13:20] Quaker762 commented on #137
How do you mean?

I agree that it'd be good to automatically fetch and build "known good" versions for people who don't care or prefer this approach though.

Yeah I guess it's Windows that's the real PITAS here for the most part, especially libraries where you're forced to use an MS toolchain unless you compile them yourself (I'm looking at you, GLEW). I'll the decision on whether or not to do thi

[2019-01-07 13:27] Quaker762 commented on #138
From what I can see this is the case, albeit somewhat broken on most of them, especially when it comes to Windows. I vaguely remember codeblocks giving me some kind of issue with it's cmake plugin.

It uses a Python-like language, but is not turing complete (see Why is Meson not just a Python module so I could code my build setup in Python?).

That looks pretty cool actually, the syntax to enable/

[2019-01-07 17:07] mrhatkat commented on #136
Sorry to say, but I'm giving up on this for now. I can't get it to work in Cygwin because the GLEW libraries mysteriously vanish after installing them, and I don't know what to do with MinGW. Maybe I'll try to boot up Ubuntu and see if I can get it to work there. Thanks for all the help though!

[2019-01-07 22:56] Quaker762 commented on #136
@mrkathat Just install MinGW to your C drive, then add the bin/ folder to your path. MinGW is just a build of gcc for windows. Then gather the appropriate gcc libs for windows and you should be good.

Failing that, Linux will just work out of the box.

[2019-01-07 23:03] z33ky commented on #137
We add an option to our build-system, e.g. like our current `ASSERTION_BEHAVIOR` variable we can have one `USE_SYSTEM_LIBRARIES`. We could even get fine-grained have have a `USE_SYSTEM_$LIB` for each library we use. I don't know if that's useful though.

I think that's only the case with C++ though, because C++ does not have a standardized ABI.
clang++ and g++ are only able to cooperate because cl

[2019-01-07 23:12] z33ky commented on #136
You could also try [Conan](https://conan.io/) or [vcpkg](https://docs.microsoft.com/en-us/cpp/vcpkg?view=vs-2017).

[2019-01-07 23:54] z33ky commented on #138
Meson does that too and I thought CMake as well.

I assume it does come with the downside mentioned in Mesons FAQ though.

The issue of a missing source file in the build script should be quite apparent. It is convenient, but does not lead to difficult-to-debug problems and comes with the aforementioned downsides.
CMake can also glob for source files, but I have deliberately avoided using it.
I mi

[2019-01-08 00:27] mrhatkat commented on #136
Ah man, I am having the worst luck with this. I keep trying to use the MinGW Makefiles generator in cmake but it keeps giving me the error:

`The C++ compiler`

    "C:/MinGW/bin/g++.exe"

  `is not able to compile a simple test program.`

[2019-01-08 04:28] mrhatkat commented on #136
I managed to finally get it close to working on Linux, I end up with 5 shared libraries( cam,input,sh3rd,tex,and vao),but where is the executable? Is there another step I'm missing? To clarify, I used cmake then I used make on the root directory,source directory,and tests directory.

[2019-01-08 06:27] Quaker762 commented on #136
That is very strange. You are using `mingw-w64` yes? It could be cmake being a little bit screwy, we might be changing soon though so don't worry about it too much.

These are test executables that can be run. For example:

`./tex`

Will run the texture render test application. We didn't actually get into any engine dev besides formats, but I'm going to lay out a roadmap using the kanban(?) cards

[2019-01-08 06:37] Quaker762 commented on #138
This I didn't know (with regards to cmake).

I didn't think of this, mostly because when working by myself it's an assurance that the sources are always there and there's no missing files, however I can see that being an issue on a distributed project.

That sounds pretty neat, I hadn't heard of it until now, but I'm already liking the syntax and the feature set they plan to implement.

Do you kno

[2019-01-08 06:42] Quaker762 commented on #137
I reckon just having one that chooses between a local or system-wide copy would definitely enough. You either gather the libs yourself (via submodule) or use something from a package manager.

clang++ and g++ are only able to cooperate because clang chose to imitate g++, which is able to define the quasi-standard ABI because it is the popular kid in Linux town (and more).
This breaks down if you t

[2019-01-10 00:28] z33ky commented on #138
https://mesonbuild.com/Dependencies.html#building-dependencies-as-subprojects
That's a great fit to fix #137.

Sadly, meson cannot communicate with other build-systems, like CMake's ExternalProject can. However, there is mesonbuild/meson#4321. Until then we can maybe write dummy-meson.builds that use `run_command` and assume the system compiler is fine.
We will also have to recursively build our d

[2019-01-10 12:29] Quaker762 commented on #138
That's a great fit to fix #137.

Yeah definitely, I'm thinking this is going to solve the issue of per platform building once and for all, _especially_ if it will allow Windows users to join development finally.

As per usual, I'll leave this to you, though I'm not too worried about that.

Most of the deps we use don't have other deps? Or at least from memory.

[2019-01-10 13:34] Quaker762 opened #140 "Game logic hardcoding"
I'm going to open this issue now so everyone that's watching the repo, e.g @piratesephiroth @belek666 can discuss how we might overcome the hard-coded in game logic. Things such as events, level transitions etc are **ALL** hard-coded into the Silent Hill 3 executable.  As @jokiew discoved and shows [here](https://www.youtube.com/watch?v=ehPOrgltUa4), it's possible via memory editing to trick the g

[2019-01-11 02:19] piratesephiroth commented on #140
I suppose that was a necessity for the original engine because it was a PS2 game, with very limited RAM. and all

[2019-01-11 23:55] z33ky commented on #140
We can probably put some stuff, the level transitions for instance, in a simple file that is parsed on startup.
But for more complex game logic I agree with your suggestion to have a class per level. At first glance at least it doesn't seem like a bad idea.

[2019-01-12 12:29] Quaker762 commented on #140
I'd be inclined to think that too, that or they had the classic 90's Japanese programmer mentality of 'write once and don't bother about it if it works'. I suppose as well this took a lot of work away from the artists, so they were free to just work on their art instead of any kind of game logic.

Yeah I like that idea. I think we're going to have to do some 'offline' like this to save a lot of gl

[2019-01-12 13:12] Quaker762 commented on #138
@z33ky I just saw this when updating. It seems eclipse has integrated Meson support, or at least the starts to it. If you've got time, I'm 110% happy for you to switch the build system over (especially since it is also compatible with VS from what I've read).

![image](https://user-images.githubusercontent.com/4768900/51073591-4dbc4d80-16c7-11e9-9b2b-a7266941e2fe.png)

[2019-01-27 07:04] Quaker762 commented on #136
Hi @mrhatkat,

I've been working on getting a Windows build system working for you, and I've had somewhat of a breakthrough. If you go to my fork of the repo here: https://github.com/Quaker762/sh3redux/tree/build_sys you should be able to build _all_ the dependencies by running build.bat. I've switched over to using `premake5` (which can be found here: https://premake.github.io/download.html). Put

[2019-01-27 16:51] mrhatkat commented on #136
No such luck. I had to change line 25 of the batch file to cd ../../../ in order for it to find the premake5.lua file, but I still get a ton of errors. Here's a pastebin of the output: https://pastebin.com/1RDF8RNs . Also, I think it might be trying to build in 64 bit instead of 32 bit. I'm going to attempt using vcpkg and cmake, since I think my MinGw install is bugged. If that doesn't work, I'll

[2019-01-28 02:13] Quaker762 commented on #136
This definitely seems like it is the case, I have no clue why this would be happening, though Lord of Compilers, professor @z33ky might have some idea (hahaha). I'll upload the installer I used to install my version of `mingw-w64` if Visual Studio doesn't work. If you do choose to go ahead with reinstalling. Do the following:

1. Remove all traces of the old versions of mingw and verify by trying

[2019-05-07 19:12] Polymega commented on #131
Sorry for the even later reply, @Quaker762. :)

I hate finding forums/threads where people ask a question and either never follow up with it or just say, "I figured it out," and don't explain how they did.

For those who are curious: Quaker762 is indeed correct that the `.tbn2` format seems to be primarily meant for animated textures. (For SH2, think of the water texture that sits on top of the wa

[2019-08-16 06:57] SNMetamorph commented on #131
Hello everybody. Where I can found any information about reversed file formats?

[2019-08-19 12:18] Quaker762 commented on #131
Hi,

Some info on the formats can be found on the XenTax wiki. Texture stuff can be found in the code here on github (it's mostly complete, there's probably some edge cases we don't take into account).  Apart from that, you'd need to work it out yourself.

The SILENT HILL Engine is, unfortunately, very crude with a lot of hacked together formats. I don't think they had much of a concept of longevi

[2019-08-19 13:53] SNMetamorph commented on #131
Thank for information. And another question - maybe you know, do SH3 engine (on Windows) may work with modified .arc files or not? (which is bigger/smaller than original .arc file) I wanted to make software for SH2/3/4 that can provide ability to edit game content, like textures, models, sounds, etc. But I don't know that is possible at all.

[2019-08-19 14:41] piratesephiroth commented on #131
if you build proper arc files, sure

[2019-08-19 15:21] SNMetamorph commented on #131
I have some doubts that SH3 engine is fully data-driven.

[2021-07-04 21:16] natopwns opened #152 "Is this project still active?"
And if so, what's the status, and how would one go about getting it to read the SH3 game files?

[2021-10-23 05:43] Quaker762 commented on #152
Hi @natopwns , not exactly, however I'm currently working on reverse engineering some of the SILENT HILL 2 formats and documenting them properly in my spare time before actually undertaking work on the engine itself.

If you'd like to just extract all of the `arc` stuff, feel free to use the `arc` ripping code from this repo :P